/** project ***/

#project {
  padding-top: 180px;
}

.h3-project {
  color: #ffff00;
  font-size: 40px;
  text-align: center;
}

.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.project__container__card-name {
  color: #282c34;
}

.project__container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 300px;
  background-color: #43a0b9;
  color: #ffffff;
  text-align: center;
  border-radius: 9px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project__container__card-techno {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.project__container__card-techno__logo {
  height: 50px;
  width: 50px;
}
.project__container__card__img-presentation {
  height: 135px;
  margin: 0 auto 0 auto;
  background: #ffffff;
  border-radius: 9px;
}
.project__container__card__btn-infos {
  font-weight: bold;
  transition: 0.3s;
  border:none;
  height: 45px;
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 0.5rem;
  border-radius: 9px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

.project__container__card__btn-infos:hover {
  transition: 0.3s;
  -webkit-box-shadow: 1px 0px 17px 2px rgba(183, 186, 192, 0.265);
  box-shadow: 1px 0px 17px 2px rgba(183, 186, 192, 0.265);
}

@keyframes expandline {
  0% {
    position: absolute;
    height: 400px;
    width: 300px;
  }
  100% {
    position: absolute;
    width: 90%;
    height: 1900px;
  }
}

@media (max-width: 990px) {
  .h3-project {
    font-size: 30px;
  }
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size)*2);
  animation: preloader .9s ease-in-out alternate infinite;
}


@keyframes preloader {
  100% { transform: scale(1.2); }
}